<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    
    {% comment %}
    =======================
    The purpose of this snippet is to list all the tags you have in your site.
    =======================
    {% endcomment %}
    {% for tag in tags %}
    	<a href="#{{ tag | slugify }}"> {{ tag }} </a>
    {% endfor %}
    

    {% include footer.html %}

  </body>

</html>
