<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div style="width: 100%; float:right; text-align: center; valign: center; padding: 10px; border: 2px dashed blue">
<!--
            <form id="search" action="https://www.google.com/search">
             <strong>What do you want to cook today?</strong> <input id="q" name="q" size=40>
              <button type="submit" form="form1" value="Search" onclick="do_search();">Search</button><br/>&nbsp;
            </form>
-->
					<p>Use Command (or Control) + F on your browser to search this; all recipes are listed from this page.</p>
        </div>
        {{ content }}
      </div>
    </div>
    
    {% comment %}
    =======================
    The purpose of this snippet is to list all the tags you have in your site.
    =======================
    {% endcomment %}
    {% for tag in tags %}
    	<a href="#{{ tag | slugify }}"> {{ tag }} </a>
    {% endfor %}
    

    {% include footer.html %}

  </body>

</html>
